body {
    background-color: #e3e3df;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 0%;
}
.nav {
        position: relative;
        background-color: transparent;
        color: #00a6ff;
        padding: 0; /* Remove padding to fit the canvas perfectly */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        height: 100px; /* Set a fixed height for the navbar */
}
.nav h1.logo {
    font-size: 2.5em;
    background: linear-gradient(0deg, #00eeff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 0;
    line-height: 100px;
    padding-left: 80px;
    z-index: 10; /* Ensure logo appears on top of the canvas */
}
.nav .nav-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
    z-index: 10;
}
.nav .nav-links a {
    color: #46abee;
    text-decoration: none;
    margin: 0 15px;
    line-height: 100px; /* Vertically center the links */
    position: relative; /* Ensure links appear on top of the canvas */
    /* z-index: 10; Ensure links appear on top of the canvas */
}
.nav-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place canvas behind the links */
}
.nav .nav-toggle {
    display: none; /* Hide the toggle button by default */
    font-size: 1.5em;
    background: none;
    border: none;
    color: #46abee;
    cursor: pointer;
    position: absolute;
    z-index:10;
    right: 20px;
    top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 5%;
    min-height: 100vh;
}
.left-column {
        flex: 1;
        max-width: 300px;
        margin-right: 20px;
        position: sticky;
        top: 75px
}
.left-column img {
    display: block;
    width: 75%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 25%;
}
.right-column {
    flex: 3;
    margin-top: 75px;
}
h1 {
    margin: 20px 0 10px; /* Adjust top and bottom margins for tighter spacing */
}
h2 {
margin: 15px 0px 5px; /* Adjust top and bottom margins for tighter spacing */
}
h2:first-of-type {
    margin-top: 10px; /* Larger top margin for the first h2 */
}
h3 {
    margin: 0px 0 0px; /* Adjust top and bottom margins for tighter spacing */
}
p {
    margin: 0 0 5px; /* Adjust bottom margin for tighter spacing */
    max-width: 700px;
}
.hanging-indent {
    text-indent: -1.5em; /* Pull the first line back */
    padding-left: 1.5em; /* Indent all lines except the first one */
}
.social-icons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
.social-icons a {
    color: #333;
    font-size: 2em; /* Change the size of the icons here */
    margin: 0 5px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #ff00ff;
}
.box {
    background-color: #dddddd;
    width: 450px;
    height: 25px;
    margin-top: 75px;
    padding: 10px;
    text-align: left;
}
.box2 {
    background-color: #dcdada;
    width: 90%;
    height: 300;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}



@media (max-width: 768px) {
    .nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    
    }
    .nav .logo {
        font-size: 1.5em;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .nav .nav-toggle {
        display: block;
        padding: 10px;
        align-self: flex-end;
        margin-left: 20px;
    }
    .nav .nav-links {
        display: none;
        flex-direction: column;
        width:100%;
        padding-left: 20px;
        position: aboslute;
        top: 100px;
        background-color: black;
        padding: 10px 0;
    }
    .nav .nav-links.active {
        display: flex;
    }
    .container {
    flex-direction: column;
    align-items: center;
    }
    .left-column {
        max-width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 70px;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .left-column img {
        width: 35%;
        margin-top: 10px;
    }
    .social-icons {
        justify-content: center;
    }

    .right-column {
        max-width: 100%;
        margin-top: 10px;
        text-align: left;
        padding-right: 30px;
    }
}