body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    place-items: center;
}
canvas { 
    display: block; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
}
h1 {
    font-size: 3em;
    background: linear-gradient(0deg, #00eeff, #ff00ff);
    /* background: #82B1E8; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 0px;
}
h2 {
    font-size: 3em;
    background: linear-gradient(0deg, #00eeff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    margin-left: 5%;
    margin-right: 5%;
}
p {
    color: #aeaaaa;
    font-size: 1.5em;
    font-weight: 300;
    margin-left: 5%;
    margin-right: 5%;
}
details {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(0deg, #00eeff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #aeaaaa;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2em;
    max-width: 750px;
}
summary {
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white; /* Ensure your text is visible on the dark background */
    padding: 20px;
}
.details-content {
    text-align: center; /* Center-align content */
    color: #aeaaaa;
    font-size: 0.8em;
    margin-top: 10px;
}
.social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.social-icons a {
    color: #aeaaaa;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #00eeff;
}
.scroll-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-end;   /* Align to the bottom */
    height: 100vh;           /* Full viewport height */
    width: 100vw;            /* Full viewport width */
}

.scroll-text {
    font-size: 3em;
    color: #2ab6c0;
    cursor: pointer;
    bottom: 10%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    font-family: 'Kanit', sans-serif;
    position: fixed;
    left: 50%;
    animation: alternate 1s infinite scroll;   
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fa-hat-wizard {
    font-size: 3.5em;
    color: #2ab6c0;
    cursor: pointer;
    bottom: 5%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    position: fixed;
    left: 50%;
    animation: alternate 1s infinite scroll;   
}
.outline-icon {
    color: transparent;               /* Make the inside transparent */
    -webkit-text-stroke: 2px #00eeff; /* Outline color */
    text-stroke: 1px #00eeff;         /* Fallback for non-webkit browsers */
}

